/* @import url('../pages/imagens/hero-right.png'); */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Outfit:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Outfit:wght@200&display=swap');

.Img {
  background-image: url(/imagens/hero-image.png);
  background-size: inherit;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 92vh;
}

.cabecalho {
  display: flex;
  align-items: center;
}

.cabecalho .imagem {
  margin-right: 63%;
  margin-left: 5%;
  width: 150px;
  height: 50px;
}

.cabecalho button {
}

/* App  */

.App {
  margin-top: -647px;
}

@media (max-width: 960px) {
  /* .Img {
    background-image: url(/imagens/hero-right.png);
    background-size: inherit;
    background-position: center;
    width: auto;
    height: 92vh;
  } */

  .cabecalho {
    display: flex;
    align-items: center;
  }

  .cabecalho .imagem {
    margin-right: 63%;
    margin-left: 5%;
    width: 150px;
    height: 50px;
  }

  .cabecalho button {
  }

  /* App  */

  .App h1 {
    color: #121826;
    font-size: 36px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .App p {
    color: #373b42;
    font-size: 14px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .App input {
    width: 50%;
    height: 5vh;
    border: 1px solid #e5e7ebcc;
  }
}
